/* page */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background */
    background-color: #2B2B2B; 
    /* text */
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
}

@keyframes hue-animation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* header */
header {
    color: #2B2B2B;
    background-color: white;
    text-align: center;
    padding: 8px;
    animation: hue-animation 3s linear infinite;
}

/* footer */
footer {
    color: #2B2B2B;
    background-color: white;
    text-align: center;
    padding: 8px;
}