/* page */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background */
    background-color: #2B2B2B; 
    /* text */
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
}

/* header */
header {
    background-color: magenta;
    text-align: center;
    padding: 8px;
}

/* footer */
footer {
    background-color: magenta;
    text-align: center;
    padding: 8px;
}