/* page */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background */
    background-color: #2B2B2B; 
    /* text */
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
}

/* simple thin table border */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
